# ====================================================================
# GITIGNORE CHO DỰ ÁN JAVA WEB (NETBEANS & ANT MULTIPLAYER)
# ====================================================================

# 1. Các thư mục sinh ra khi chạy và biên dịch code (Bắt buộc chặn)
build/
dist/
nbproject/private/

# 2. Các file log hệ thống và file nén tạm
*.log
*.war
*.ear

# 3. Các file cấu hình hệ thống của hệ điều hành (Nếu có)
.DS_Store
Thumbs.db